[Desktop Entry]
Name=Better Hyprland GUI
Comment=GUI for configuring Hyprland, dotfiles, and updates
Exec=/usr/bin/hyprgui
TryExec=/usr/bin/hyprgui
Icon=preferences-system
Type=Application
Terminal=false
Categories=Settings;Utility;
Keywords=Hyprland;Wayland;dotfiles;configuration;settings;
StartupNotify=true
StartupWMClass=hyprgui
NoDisplay=false
